In [1]:
import pandas as pd
import numpy as np
import csv

## Biodiversity Data

### Biodiversity - Working Data Attempt 1

In [2]:
#Load the species data from the species.csv file:

biodiversity_data_to_load = "./Resources/species.csv"
bio_df = pd.read_csv(biodiversity_data_to_load, low_memory=False)
bio_df.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [3]:
# Get the information for the species_df:
bio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119248 entries, 0 to 119247
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Species ID           119248 non-null  object
 1   Park Name            119248 non-null  object
 2   Category             119248 non-null  object
 3   Order                117776 non-null  object
 4   Family               117736 non-null  object
 5   Scientific Name      119248 non-null  object
 6   Common Names         119248 non-null  object
 7   Record Status        119248 non-null  object
 8   Occurrence           99106 non-null   object
 9   Nativeness           94203 non-null   object
 10  Abundance            76306 non-null   object
 11  Seasonality          20157 non-null   object
 12  Conservation Status  4718 non-null    object
 13  Unnamed: 13          5 non-null       object
dtypes: object(14)
memory usage: 12.7+ MB

In [4]:
# Creating new DataFrame with necessary data and leaving out unnecessary data
reduced_bio_df = bio_df[["Species ID", "Park Name", "Scientific Name",
                       "Occurrence", "Abundance", "Conservation Status"]].copy()
reduced_bio_df.head()

,Species ID,Park Name,Scientific Name,Occurrence,Abundance,Conservation Status
0,ACAD-1000,Acadia National Park,Alces alces,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Odocoileus virginianus,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Canis latrans,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Canis lupus,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Vulpes vulpes,Present,Common,NaN

In [5]:
# Renaming Columns to standardize column names
renamed_bio_df = reduced_bio_df.rename(columns={"Species ID": "species_id",
                                        "Park Name": "park_name",
                                        "Scientific Name": "scientific_name",
                                        "Occurrence": "occurrence",
                                        "Abundance": "abundance",
                                        "Conservation Status": "conservation_status",
                                       })
renamed_bio_df.head()

,species_id,park_name,scientific_name,occurrence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Alces alces,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Odocoileus virginianus,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Canis latrans,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Canis lupus,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Vulpes vulpes,Present,Common,NaN

In [6]:
# remove any rows with conservations status of extinct 
renamed_bio_df['conservation_status'].unique()

array([nan, 'Species of Concern', 'Endangered', 'In Recovery',
       'Threatened', 'Under Review', 'Proposed Threatened', 'Extinct',
       'Proposed Endangered', 'Resident', 'Breeder', 'Migratory'],
      dtype=object)

In [7]:
# Checking data count
renamed_bio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119248 entries, 0 to 119247
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   species_id           119248 non-null  object
 1   park_name            119248 non-null  object
 2   scientific_name      119248 non-null  object
 3   occurrence           99106 non-null   object
 4   abundance            76306 non-null   object
 5   conservation_status  4718 non-null    object
dtypes: object(6)
memory usage: 5.5+ MB

In [8]:
# remove extinct from conservation status data (it is not relevant)
updated_bio_df = renamed_bio_df.loc[lambda renamed_bio_df: renamed_bio_df['conservation_status'] != 'Extinct']
print(updated_bio_df['conservation_status'].unique())
updated_bio_df.head()

[nan 'Species of Concern' 'Endangered' 'In Recovery' 'Threatened'
 'Under Review' 'Proposed Threatened' 'Proposed Endangered' 'Resident'
 'Breeder' 'Migratory']

,species_id,park_name,scientific_name,occurrence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Alces alces,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Odocoileus virginianus,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Canis latrans,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Canis lupus,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Vulpes vulpes,Present,Common,NaN

In [9]:
# Checking data count
updated_bio_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119247 entries, 0 to 119247
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   species_id           119247 non-null  object
 1   park_name            119247 non-null  object
 2   scientific_name      119247 non-null  object
 3   occurrence           99105 non-null   object
 4   abundance            76306 non-null   object
 5   conservation_status  4717 non-null    object
dtypes: object(6)
memory usage: 6.4+ MB

In [10]:
# Remove any words after the work "Park" in park_names
p = '(.*Park)'
park_name_bio = updated_bio_df["park_name"].str.extract(p)

#Checking the regex function
park_name_bio.value_counts()

Great Smoky Mountains National Park           6623
Redwood National Park                         6310
Shenandoah National Park                      4655
Death Valley National Park                    4439
Yellowstone National Park                     3966
Crater Lake National Park                     3760
North Cascades National Park                  3363
Hawaii Volcanoes National Park                3298
Rocky Mountain National Park                  3152
Great Basin National Park                     2653
Grand Canyon National Park                    2622
Haleakala National Park                       2580
Glacier National Park                         2556
Mammoth Cave National Park                    2499
Congaree National Park                        2321
Joshua Tree National Park                     2294
Big Bend National Park                        2269
Yosemite National Park                        2088
Everglades National Park                      2084
Grand Teton National Park                     2030
Lake Clark National Park                      2007
Sequoia and Kings Canyon National Park        1995
Glacier Bay National Park                     1957
Hot Springs National Park                     1950
Olympic National Park                         1948
Cuyahoga Valley National Park                 1940
Channel Islands National Park                 1885
Saguaro National Park                         1834
Lassen Volcanic National Park                 1797
Wrangell - St Elias National Park             1796
Zion National Park                            1796
Guadalupe Mountains National Park             1746
Mount Rainier National Park                   1743
Biscayne National Park                        1726
Acadia National Park                          1709
Capitol Reef National Park                    1566
Carlsbad Caverns National Park                1536
Voyageurs National Park                       1453
Pinnacles National Park                       1416
Isle Royale National Park                     1397
Wind Cave National Park                       1395
Badlands National Park                        1389
Gates Of The Arctic National Park             1353
Denali National Park                          1320
Bryce Canyon National Park                    1286
Mesa Verde National Park                      1243
Katmai National Park                          1225
Canyonlands National Park                     1223
Theodore Roosevelt National Park              1165
Black Canyon of the Gunnison National Park    1106
Kenai Fjords National Park                    1057
Arches National Park                          1048
Kobuk Valley National Park                    1025
Great Sand Dunes National Park                 952
Petrified Forest National Park                 853
Dry Tortugas National Park                     848
dtype: int64

In [11]:
# exchange the new park_name column in the updated_bio_df
updated_bio_df["park_name"] = park_name_bio.values
updated_bio_df

C:\Users\britt\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,species_id,park_name,scientific_name,occurrence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Alces alces,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Odocoileus virginianus,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Canis latrans,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Canis lupus,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Vulpes vulpes,Present,Common,NaN
...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Solanum triflorum,Present,Uncommon,NaN
119244,ZION-2792,Zion National Park,Vitis arizonica,Present,Uncommon,NaN
119245,ZION-2793,Zion National Park,Vitis vinifera,Present,Uncommon,NaN
119246,ZION-2794,Zion National Park,Larrea tridentata,Present,Rare,NaN
119247,ZION-2795,Zion National Park,Tribulus terrestris,Present,Uncommon,NaN

In [12]:
# Create a variable that will store the counts of each species per park:
bio_count = updated_bio_df.groupby(["park_name"]).count()["species_id"]
print(bio_count)

park_name
Acadia National Park                          1709
Arches National Park                          1048
Badlands National Park                        1389
Big Bend National Park                        2269
Biscayne National Park                        1726
Black Canyon of the Gunnison National Park    1106
Bryce Canyon National Park                    1286
Canyonlands National Park                     1223
Capitol Reef National Park                    1566
Carlsbad Caverns National Park                1536
Channel Islands National Park                 1885
Congaree National Park                        2321
Crater Lake National Park                     3760
Cuyahoga Valley National Park                 1940
Death Valley National Park                    4439
Denali National Park                          1320
Dry Tortugas National Park                     848
Everglades National Park                      2084
Gates Of The Arctic National Park             1353
Glacier Bay National Park                     1957
Glacier National Park                         2556
Grand Canyon National Park                    2622
Grand Teton National Park                     2030
Great Basin National Park                     2653
Great Sand Dunes National Park                 952
Great Smoky Mountains National Park           6623
Guadalupe Mountains National Park             1746
Haleakala National Park                       2580
Hawaii Volcanoes National Park                3298
Hot Springs National Park                     1950
Isle Royale National Park                     1397
Joshua Tree National Park                     2294
Katmai National Park                          1225
Kenai Fjords National Park                    1057
Kobuk Valley National Park                    1025
Lake Clark National Park                      2007
Lassen Volcanic National Park                 1797
Mammoth Cave National Park                    2499
Mesa Verde National Park                      1243
Mount Rainier National Park                   1743
North Cascades National Park                  3363
Olympic National Park                         1948
Petrified Forest National Park                 853
Pinnacles National Park                       1416
Redwood National Park                         6310
Rocky Mountain National Park                  3152
Saguaro National Park                         1834
Sequoia and Kings Canyon National Park        1995
Shenandoah National Park                      4655
Theodore Roosevelt National Park              1165
Voyageurs National Park                       1453
Wind Cave National Park                       1395
Wrangell - St Elias National Park             1796
Yellowstone National Park                     3966
Yosemite National Park                        2088
Zion National Park                            1796
Name: species_id, dtype: int64

#### NOTE: Biodiversity data has been cleaned and put into updated_bio_df, 
#### NOTE: A variable is created to hold count of species per park (bio_count)

### Biodiversity Count Merge

#### Add in trails data below for merge:

In [13]:
# Load the trail data from trail_data.csv:

trails_data_to_load = "./Resources/trails_final.csv"
trails_final_df = pd.read_csv(trails_data_to_load, low_memory=False, encoding="utf-8")
trails_final_df.head(5)

,trail_id,name,park_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i

In [14]:
# Create a value for the number of trails per park
# Sequoia and Kings Canyon National Park should equal 90 + 61):

trail_count = trails_final_df.groupby(["park_name"]).count()["trail_id"].sort_values(ascending=False)
trail_count

park_name
Great Smoky Mountains National Park           293
Yosemite National Park                        242
Yellowstone National Park                     228
Rocky Mountain National Park                  207
Shenandoah National Park                      187
Acadia National Park                          179
Olympic National Park                         170
Sequoia and Kings Canyon National Park        151
Glacier National Park                         132
Mount Rainier National Park                   130
Joshua Tree National Park                     108
Grand Teton National Park                     102
Grand Canyon National Park                     99
Zion National Park                             94
Death Valley National Park                     79
Canyonlands National Park                      77
Big Bend National Park                         70
Saguaro National Park                          60
Lassen Volcanic National Park                  59
Cuyahoga Valley National Park                  50
Arches National Park                           48
Capitol Reef National Park                     42
Hawaii Volcanoes National Park                 35
Bryce Canyon National Park                     31
Mammoth Cave National Park                     28
Pinnacles National Park                        27
Black Canyon of the Gunnison National Park     24
Guadalupe Mountains National Park              24
Everglades National Park                       24
Theodore Roosevelt National Park               23
Channel Islands National Park                  22
Redwood National Park                          22
Crater Lake National Park                      22
Great Basin National Park                      22
North Cascades National Park                   20
Denali National Park                           20
Mesa Verde National Park                       17
Hot Springs National Park                      16
Indiana Dunes National Park                    16
Petrified Forest National Park                 15
Great Sand Dunes National Park                 14
Haleakala National Park                        14
Badlands National Park                         10
Wind Cave National Park                        10
Congaree National Park                          8
Carlsbad Caverns National Park                  8
Voyageurs National Park                         7
Glacier Bay National Park                       5
Isle Royale National Park                       4
Biscayne National Park                          4
Fort Hunt National Park                         3
Gateway Arch National Park                      2
Fort Pickens National Park                      2
Kenai Fjords National Park                      2
Katmai National Park                            2
Dry Tortugas National Park                      1
Wolf Trap National Park                         1
Clayton Co International Park                   1
Name: trail_id, dtype: int64

In [15]:
# Create a value for the average popularity score for all trails within a certain park:

trail_pop_avg = trails_final_df.groupby(["park_name"]).mean()["popularity"].sort_values(ascending=False)
print(trail_pop_avg)

park_name
Kenai Fjords National Park                    21.337600
Bryce Canyon National Park                    16.617903
Haleakala National Park                       13.723586
Arches National Park                          13.462423
Badlands National Park                        13.141040
Rocky Mountain National Park                  13.007846
Crater Lake National Park                     12.430750
Zion National Park                            12.027557
Mount Rainier National Park                   11.726444
Glacier National Park                         10.061925
Grand Canyon National Park                     9.716001
Pinnacles National Park                        9.421904
Olympic National Park                          9.389508
North Cascades National Park                   9.374660
Grand Teton National Park                      9.373725
Sequoia and Kings Canyon National Park         9.243440
Yosemite National Park                         9.235686
Capitol Reef National Park                     9.006231
Cuyahoga Valley National Park                  8.771132
Shenandoah National Park                       8.517370
Great Sand Dunes National Park                 8.381900
Acadia National Park                           8.375920
Great Smoky Mountains National Park            8.313232
Mesa Verde National Park                       8.225906
Canyonlands National Park                      8.143584
Joshua Tree National Park                      7.860079
Black Canyon of the Gunnison National Park     7.690121
Petrified Forest National Park                 7.688287
Hot Springs National Park                      7.326819
Big Bend National Park                         7.176380
Redwood National Park                          7.145291
Lassen Volcanic National Park                  7.117390
Wolf Trap National Park                        7.111900
Guadalupe Mountains National Park              7.075000
Yellowstone National Park                      7.006884
Congaree National Park                         6.675575
Saguaro National Park                          6.639557
Fort Pickens National Park                     6.373850
Death Valley National Park                     6.359223
Great Basin National Park                      6.347132
Hawaii Volcanoes National Park                 6.123489
Denali National Park                           6.091125
Mammoth Cave National Park                     5.800725
Theodore Roosevelt National Park               5.785835
Channel Islands National Park                  5.626650
Wind Cave National Park                        5.500610
Carlsbad Caverns National Park                 5.329462
Gateway Arch National Park                     5.306350
Dry Tortugas National Park                     5.177600
Indiana Dunes National Park                    5.099050
Fort Hunt National Park                        4.921167
Clayton Co International Park                  4.729100
Everglades National Park                       4.532038
Biscayne National Park                         4.055200
Voyageurs National Park                        3.040929
Isle Royale National Park                      3.018375
Katmai National Park                           2.263250
Glacier Bay National Park                      2.159100
Name: popularity, dtype: float64

In [16]:
# Load the trail count pop data from trail_count_pop.csv:

trail_count_pop_to_load = "./Resources/trail_count_pop.csv"
trail_count_pop_df = pd.read_csv(trail_count_pop_to_load, low_memory=False, encoding="utf-8")
trail_count_pop_df.head(5)

                park_name  trail_count  avg_popularity
0    Acadia National Park          179        8.375920
1    Arches National Park           48       13.462423
2  Badlands National Park           10       13.141040
3  Big Bend National Park           70        7.176380
4  Biscayne National Park            4        4.055200

#### Merge of trail_count, trail_pop_avg, bio_count DataFrames

In [17]:
# Create a new df that contains the count of trails, the average popularity of each park, and species count per park:

park_bio_df = pd.DataFrame({
    "trail_count": trail_count,
    "avg_popularity": trail_pop_avg,
    "species_count" : bio_count,
})

#Reset the index so the park name is no longer the index:

park_bio_df.reset_index(inplace=True)
park_bio_df = park_bio_df.rename(columns = {'index':'park_name'})

park_bio_df

,park_name,trail_count,avg_popularity,species_count
0,Acadia National Park,179.0,8.375920,1709.0
1,Arches National Park,48.0,13.462423,1048.0
2,Badlands National Park,10.0,13.141040,1389.0
3,Big Bend National Park,70.0,7.176380,2269.0
4,Biscayne National Park,4.0,4.055200,1726.0
...,...,...,...,...
57,Wolf Trap National Park,1.0,7.111900,NaN
58,Wrangell - St Elias National Park,NaN,NaN,1796.0
59,Yellowstone National Park,228.0,7.006884,3966.0
60,Yosemite National Park,242.0,9.235686,2088.0
61,Zion National Park,94.0,12.027557,1796.0

### Merge parks df with park bio data

In [18]:
# Load the park final data from parks_final.csv:

parks_final_data_to_load = "./Resources/parks_final.csv"
parks_final_df = pd.read_csv(parks_final_data_to_load, low_memory=False, encoding="utf-8")
parks_final_df.head(5)

  park_code               park_name state   acres  latitude  longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [19]:
#Create a dataframe that populates the parks_df with trail count and popularity data from the trails df:
merged_parks_bio_df = pd.merge(parks_final_df, park_bio_df, on="park_name", how="left")
pd.options.display.max_rows = 100
merged_parks_bio_df

,park_code,park_name,state,acres,latitude,longitude,trail_count,avg_popularity,species_count
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21,179.0,8.375920,1709.0
1,ARCH,Arches National Park,UT,76519,38.68,-109.57,48.0,13.462423,1048.0
2,BADL,Badlands National Park,SD,242756,43.75,-102.50,10.0,13.141040,1389.0
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25,70.0,7.176380,2269.0
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08,4.0,4.055200,1726.0
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72,24.0,7.690121,1106.0
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18,31.0,16.617903,1286.0
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93,77.0,8.143584,1223.0
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17,42.0,9.006231,1566.0
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44,8.0,5.329462,1536.0
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42,22.0,5.626650,1885.0
11,CONG,Congaree National Park,SC,26546,33.78,-80.78,8.0,6.675575,2321.0
12,CRLA,Crater Lake National Park,OR,183224,42.94,-122.10,22.0,12.430750,3760.0
13,CUVA,Cuyahoga Valley National Park,OH,32950,41.24,-81.55,50.0,8.771132,1940.0
14,DENA,Denali National Park,AK,3372402,63.33,-150.50,20.0,6.091125,1320.0
15,DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82,79.0,6.359223,4439.0
16,DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87,1.0,5.177600,848.0
17,EVER,Everglades National Park,FL,1508538,25.32,-80.93,24.0,4.532038,2084.0
18,GAAR,Gates Of The Arctic National Park,AK,7523898,67.78,-153.30,NaN,NaN,1353.0
19,GLAC,Glacier National Park,MT,1013572,48.80,-114.00,132.0,10.061925,2556.0
20,GLBA,Glacier Bay National Park,AK,3224840,58.50,-137.00,5.0,2.159100,1957.0
21,GRBA,Great Basin National Park,NV,77180,38.98,-114.30,22.0,6.347132,2653.0
22,GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14,99.0,9.716001,2622.0
23,GRSA,Great Sand Dunes National Park,CO,42984,37.73,-105.51,14.0,8.381900,952.0
24,GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53,293.0,8.313232,6623.0
25,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80,102.0,9.373725,2030.0
26,GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87,24.0,7.075000,1746.0
27,HALE,Haleakala National Park,HI,29094,20.72,-156.17,14.0,13.723586,2580.0
28,HAVO,Hawaii Volcanoes National Park,HI,323431,19.38,-155.20,35.0,6.123489,3298.0
29,HOSP,Hot Springs National Park,AR,5550,34.51,-93.05,16.0,7.326819,1950.0
30,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55,4.0,3.018375,1397.0
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90,108.0,7.860079,2294.0
32,KATM,Katmai National Park,AK,3674530,58.50,-155.00,2.0,2.263250,1225.0
33,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65,2.0,21.337600,1057.0
34,KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28,NaN,NaN,1025.0
35,LACL,Lake Clark National Park,AK,2619733,60.97,-153.42,NaN,NaN,2007.0
36,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51,59.0,7.117390,1797.0
37,MACA,Mammoth Cave National Park,KY,52830,37.18,-86.10,28.0,5.800725,2499.0
38,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49,17.0,8.225906,1243.0
39,MORA,Mount Rainier National Park,WA,235625,46.85,-121.75,130.0,11.726444,1743.0
40,NOCA,North Cascades National Park,WA,504781,48.70,-121.20,20.0,9.374660,3363.0
41,OLYM,Olympic National Park,WA,922651,47.97,-123.50,170.0,9.389508,1948.0
42,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78,15.0,7.688287,853.0
43,PINN,Pinnacles National Park,CA,26606,36.48,-121.16,27.0,9.421904,1416.0
44,REDW,Redwood National Park,CA,112512,41.30,-124.00,22.0,7.145291,6310.0
45,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58,207.0,13.007846,3152.0
46,SAGU,Saguaro National Park,AZ,91440,32.25,-110.50,60.0,6.639557,1834.0
47,SEKI,Sequoia and Kings Canyon National Park,CA,865952,36.43,-118.68,151.0,9.243440,1995.0
48,SHEN,Shenandoah National Park,VA,199045,38.53,-78.35,187.0,8.517370,4655.0
49,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45,23.0,5.785835,1165.0
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88,7.0,3.040929,1453.0
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48,10.0,5.500610,1395.0
52,WRST,Wrangell - St Elias National Park,AK,8323148,61.00,-142.00,NaN,NaN,1796.0
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50,228.0,7.006884,3966.0
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50,242.0,9.235686,2088.0
55,ZION,Zion National Park,UT,146598,37.30,-113.05,94.0,12.027557,1796.0

In [20]:
# Formatting the DataFrame
merged_parks_bio_df = merged_parks_bio_df.dropna(axis=0)
merged_parks_bio_df["trail_count"] = merged_parks_bio_df["trail_count"].map("{:,.0f}".format)
merged_parks_bio_df["avg_popularity"] = merged_parks_bio_df["avg_popularity"].map("{:.3f}".format)
merged_parks_bio_df["species_count"] = merged_parks_bio_df["species_count"].map("{:.0f}".format)
merged_parks_bio_df

C:\Users\britt\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\britt\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\britt\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,park_code,park_name,state,acres,latitude,longitude,trail_count,avg_popularity,species_count
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21,179,8.376,1709
1,ARCH,Arches National Park,UT,76519,38.68,-109.57,48,13.462,1048
2,BADL,Badlands National Park,SD,242756,43.75,-102.50,10,13.141,1389
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25,70,7.176,2269
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08,4,4.055,1726
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72,24,7.690,1106
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18,31,16.618,1286
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93,77,8.144,1223
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17,42,9.006,1566
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44,8,5.329,1536
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42,22,5.627,1885
11,CONG,Congaree National Park,SC,26546,33.78,-80.78,8,6.676,2321
12,CRLA,Crater Lake National Park,OR,183224,42.94,-122.10,22,12.431,3760
13,CUVA,Cuyahoga Valley National Park,OH,32950,41.24,-81.55,50,8.771,1940
14,DENA,Denali National Park,AK,3372402,63.33,-150.50,20,6.091,1320
15,DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82,79,6.359,4439
16,DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87,1,5.178,848
17,EVER,Everglades National Park,FL,1508538,25.32,-80.93,24,4.532,2084
19,GLAC,Glacier National Park,MT,1013572,48.80,-114.00,132,10.062,2556
20,GLBA,Glacier Bay National Park,AK,3224840,58.50,-137.00,5,2.159,1957
21,GRBA,Great Basin National Park,NV,77180,38.98,-114.30,22,6.347,2653
22,GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14,99,9.716,2622
23,GRSA,Great Sand Dunes National Park,CO,42984,37.73,-105.51,14,8.382,952
24,GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53,293,8.313,6623
25,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80,102,9.374,2030
26,GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87,24,7.075,1746
27,HALE,Haleakala National Park,HI,29094,20.72,-156.17,14,13.724,2580
28,HAVO,Hawaii Volcanoes National Park,HI,323431,19.38,-155.20,35,6.123,3298
29,HOSP,Hot Springs National Park,AR,5550,34.51,-93.05,16,7.327,1950
30,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55,4,3.018,1397
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90,108,7.860,2294
32,KATM,Katmai National Park,AK,3674530,58.50,-155.00,2,2.263,1225
33,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65,2,21.338,1057
36,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51,59,7.117,1797
37,MACA,Mammoth Cave National Park,KY,52830,37.18,-86.10,28,5.801,2499
38,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49,17,8.226,1243
39,MORA,Mount Rainier National Park,WA,235625,46.85,-121.75,130,11.726,1743
40,NOCA,North Cascades National Park,WA,504781,48.70,-121.20,20,9.375,3363
41,OLYM,Olympic National Park,WA,922651,47.97,-123.50,170,9.390,1948
42,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78,15,7.688,853
43,PINN,Pinnacles National Park,CA,26606,36.48,-121.16,27,9.422,1416
44,REDW,Redwood National Park,CA,112512,41.30,-124.00,22,7.145,6310
45,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58,207,13.008,3152
46,SAGU,Saguaro National Park,AZ,91440,32.25,-110.50,60,6.640,1834
47,SEKI,Sequoia and Kings Canyon National Park,CA,865952,36.43,-118.68,151,9.243,1995
48,SHEN,Shenandoah National Park,VA,199045,38.53,-78.35,187,8.517,4655
49,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45,23,5.786,1165
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88,7,3.041,1453
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48,10,5.501,1395
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50,228,7.007,3966
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50,242,9.236,2088
55,ZION,Zion National Park,UT,146598,37.30,-113.05,94,12.028,1796

In [21]:
# Write parks pop bio df to csv
merged_parks_bio_data_to_load = "./Resources/parks_pop_bio.csv"
merged_parks_bio_df.to_csv(merged_parks_bio_data_to_load, index=False)

### Biodiversity - Working Data Attempt 2

In [22]:
# Show DataFrame
bio_df.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [23]:
# Show Data in DataFrame
bio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119248 entries, 0 to 119247
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Species ID           119248 non-null  object
 1   Park Name            119248 non-null  object
 2   Category             119248 non-null  object
 3   Order                117776 non-null  object
 4   Family               117736 non-null  object
 5   Scientific Name      119248 non-null  object
 6   Common Names         119248 non-null  object
 7   Record Status        119248 non-null  object
 8   Occurrence           99106 non-null   object
 9   Nativeness           94203 non-null   object
 10  Abundance            76306 non-null   object
 11  Seasonality          20157 non-null   object
 12  Conservation Status  4718 non-null    object
 13  Unnamed: 13          5 non-null       object
dtypes: object(14)
memory usage: 12.7+ MB

In [24]:
# Show an array of Occurrence values
bio_df["Occurrence"].unique()

array(['Present', 'Not Confirmed', 'Not Present (Historical Report)',
       'Not Present (False Report)', 'Approved', nan, 'Not Present',
       'In Review'], dtype=object)

In [25]:
# Rework DataFrame with needed inforamation (and remove not needed information)
reduced_bio_df = bio_df[["Species ID", "Park Name", "Category", "Scientific Name",
                       "Occurrence", "Abundance", "Conservation Status"]].copy()
reduced_bio_df.head()

,Species ID,Park Name,Category,Scientific Name,Occurrence,Abundance,Conservation Status
0,ACAD-1000,Acadia National Park,Mammal,Alces alces,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Mammal,Odocoileus virginianus,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Mammal,Canis latrans,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Mammal,Canis lupus,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Mammal,Vulpes vulpes,Present,Common,NaN

In [26]:
# Standardize column names
renamed_bio_df = reduced_bio_df.rename(columns={"Species ID": "species_id",
                                        "Park Name": "park_name",
                                        "Category": "category",       
                                        "Scientific Name": "scientific_name",
                                        "Occurrence": "occurrence",
                                        "Abundance": "abundance",
                                        "Conservation Status": "conservation_status",
                                       })
renamed_bio_df.head()

,species_id,park_name,category,scientific_name,occurrence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Mammal,Alces alces,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Mammal,Odocoileus virginianus,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Mammal,Canis latrans,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Mammal,Canis lupus,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Mammal,Vulpes vulpes,Present,Common,NaN

In [27]:
# Replace NaN values with "None"
renamed_bio_df = renamed_bio_df.replace(np.nan, 'None')
renamed_bio_df

,species_id,park_name,category,scientific_name,occurrence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Mammal,Alces alces,Present,Rare,None
1,ACAD-1001,Acadia National Park,Mammal,Odocoileus virginianus,Present,Abundant,None
2,ACAD-1002,Acadia National Park,Mammal,Canis latrans,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Mammal,Canis lupus,Not Confirmed,None,Endangered
4,ACAD-1004,Acadia National Park,Mammal,Vulpes vulpes,Present,Common,None
...,...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Vascular Plant,Solanum triflorum,Present,Uncommon,None
119244,ZION-2792,Zion National Park,Vascular Plant,Vitis arizonica,Present,Uncommon,None
119245,ZION-2793,Zion National Park,Vascular Plant,Vitis vinifera,Present,Uncommon,None
119246,ZION-2794,Zion National Park,Vascular Plant,Larrea tridentata,Present,Rare,None
119247,ZION-2795,Zion National Park,Vascular Plant,Tribulus terrestris,Present,Uncommon,None

In [28]:
# remove "not present" in occurrence column
working_bio_df = renamed_bio_df.loc[renamed_bio_df['occurrence'].isin(['Present', 'Not Confirmed', 'Approved', 'None', 'In Review'])]
print(working_bio_df['occurrence'].unique())
working_bio_df

['Present' 'Not Confirmed' 'Approved' 'None' 'In Review']

,species_id,park_name,category,scientific_name,occurrence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Mammal,Alces alces,Present,Rare,None
1,ACAD-1001,Acadia National Park,Mammal,Odocoileus virginianus,Present,Abundant,None
2,ACAD-1002,Acadia National Park,Mammal,Canis latrans,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Mammal,Canis lupus,Not Confirmed,None,Endangered
4,ACAD-1004,Acadia National Park,Mammal,Vulpes vulpes,Present,Common,None
...,...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Vascular Plant,Solanum triflorum,Present,Uncommon,None
119244,ZION-2792,Zion National Park,Vascular Plant,Vitis arizonica,Present,Uncommon,None
119245,ZION-2793,Zion National Park,Vascular Plant,Vitis vinifera,Present,Uncommon,None
119246,ZION-2794,Zion National Park,Vascular Plant,Larrea tridentata,Present,Rare,None
119247,ZION-2795,Zion National Park,Vascular Plant,Tribulus terrestris,Present,Uncommon,None

In [29]:
# Show Values
working_bio_df["occurrence"].value_counts()

Present          83278
None             20142
Not Confirmed    11958
Approved            51
In Review            6
Name: occurrence, dtype: int64

In [30]:
# Show an array of Abundance values
working_bio_df["abundance"].unique()

array(['Rare', 'Abundant', 'Common', 'None', 'Uncommon', 'Occasional',
       'Unknown', 'Not Native', 'Native'], dtype=object)

In [31]:
# Categorize Abundance based on rare and not rare (Rare/Uncommon = FALSE, Rest = TRUE)
# This will encode into 1's and 0's for machine learning in future
# You can use this pseudocode for future column cleaning
working_bio_df['abundance'] = working_bio_df['abundance'].replace(['Rare','Uncommon'],'FALSE')
working_bio_df

C:\Users\britt\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,species_id,park_name,category,scientific_name,occurrence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Mammal,Alces alces,Present,FALSE,None
1,ACAD-1001,Acadia National Park,Mammal,Odocoileus virginianus,Present,Abundant,None
2,ACAD-1002,Acadia National Park,Mammal,Canis latrans,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Mammal,Canis lupus,Not Confirmed,None,Endangered
4,ACAD-1004,Acadia National Park,Mammal,Vulpes vulpes,Present,Common,None
...,...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Vascular Plant,Solanum triflorum,Present,FALSE,None
119244,ZION-2792,Zion National Park,Vascular Plant,Vitis arizonica,Present,FALSE,None
119245,ZION-2793,Zion National Park,Vascular Plant,Vitis vinifera,Present,FALSE,None
119246,ZION-2794,Zion National Park,Vascular Plant,Larrea tridentata,Present,FALSE,None
119247,ZION-2795,Zion National Park,Vascular Plant,Tribulus terrestris,Present,FALSE,None

In [32]:
# Categorize Abundance based on rare and not rare (Rare/Uncommon = FALSE, Rest = TRUE)
# This will encode into 1's and 0's for machine learning in future
# You can use this pseudocode for future column cleaning

working_bio_df['abundance'] = working_bio_df['abundance'].replace(['Abundant', 'Common', 'None', 'Occasional',
       'Unknown', 'Not Native', 'Native'],'TRUE')
working_bio_df

C:\Users\britt\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,species_id,park_name,category,scientific_name,occurrence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Mammal,Alces alces,Present,FALSE,None
1,ACAD-1001,Acadia National Park,Mammal,Odocoileus virginianus,Present,TRUE,None
2,ACAD-1002,Acadia National Park,Mammal,Canis latrans,Present,TRUE,Species of Concern
3,ACAD-1003,Acadia National Park,Mammal,Canis lupus,Not Confirmed,TRUE,Endangered
4,ACAD-1004,Acadia National Park,Mammal,Vulpes vulpes,Present,TRUE,None
...,...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Vascular Plant,Solanum triflorum,Present,FALSE,None
119244,ZION-2792,Zion National Park,Vascular Plant,Vitis arizonica,Present,FALSE,None
119245,ZION-2793,Zion National Park,Vascular Plant,Vitis vinifera,Present,FALSE,None
119246,ZION-2794,Zion National Park,Vascular Plant,Larrea tridentata,Present,FALSE,None
119247,ZION-2795,Zion National Park,Vascular Plant,Tribulus terrestris,Present,FALSE,None

In [33]:
# Show data values
working_bio_df["conservation_status"].value_counts()

None                   111023
Species of Concern       3665
Endangered                295
Under Review              175
Threatened                165
In Recovery                74
Proposed Endangered        18
Breeder                     7
Proposed Threatened         6
Resident                    5
Migratory                   2
Name: conservation_status, dtype: int64

In [34]:
# Show an array of Conservation Status values
working_bio_df["conservation_status"].unique()

array(['None', 'Species of Concern', 'Endangered', 'In Recovery',
       'Threatened', 'Under Review', 'Proposed Threatened',
       'Proposed Endangered', 'Resident', 'Breeder', 'Migratory'],
      dtype=object)

In [35]:
# Categorize Conservation based on having a status vs. None
# This will encode into 1's and 0's for machine learning in future
# You can use this pseudocode for future column cleaning
working_bio_df['conservation_status'] = working_bio_df['conservation_status'].replace(['Species of Concern', 'Endangered', 'In Recovery',
       'Threatened', 'Under Review', 'Proposed Threatened','Proposed Endangered', 'Resident', 'Breeder', 'Migratory'],'TRUE')

working_bio_df['conservation_status'] = working_bio_df['conservation_status'].replace(['None'],'FALSE')
working_bio_df

C:\Users\britt\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\britt\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,species_id,park_name,category,scientific_name,occurrence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Mammal,Alces alces,Present,FALSE,FALSE
1,ACAD-1001,Acadia National Park,Mammal,Odocoileus virginianus,Present,TRUE,FALSE
2,ACAD-1002,Acadia National Park,Mammal,Canis latrans,Present,TRUE,TRUE
3,ACAD-1003,Acadia National Park,Mammal,Canis lupus,Not Confirmed,TRUE,TRUE
4,ACAD-1004,Acadia National Park,Mammal,Vulpes vulpes,Present,TRUE,FALSE
...,...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Vascular Plant,Solanum triflorum,Present,FALSE,FALSE
119244,ZION-2792,Zion National Park,Vascular Plant,Vitis arizonica,Present,FALSE,FALSE
119245,ZION-2793,Zion National Park,Vascular Plant,Vitis vinifera,Present,FALSE,FALSE
119246,ZION-2794,Zion National Park,Vascular Plant,Larrea tridentata,Present,FALSE,FALSE
119247,ZION-2795,Zion National Park,Vascular Plant,Tribulus terrestris,Present,FALSE,FALSE

## For Abbie

In [36]:
# Add aggregated fields from the working_bio_df to trails_final_df
# Group by park name & count on category - Maybe in SQL

In [37]:
# Group by park name & count on scientific name - Maybe in SQL

In [38]:
# Encode the abundance and conservation columns for ML
# data_encoded = pd.get_dummies(df, columns=["education", "gender"])

In [39]:
# Group by park name and count on each encoded column

In [40]:
# Final Result - biodiversity df that's grouped by park and ONLY has numberical values (Occurrence will NOT be included)
# These columns will eventually be added to Parks df 
# use code from species count df in other jupyter notebook to make a NEW df with these counts